<ng-container *ngIf="showInfo && requirments.password">
  <div class="password-bx p-l-12 p-r-12 p-t-12 p-b-12">
    <span class="arrow-pointer"></span>
    <div fxLayout="row" fxLayoutGap="6px" *ngIf="passwordRule.at_least_x_chars" class="p-4"
      [ngClass]="requirments.at_least_x_chars ?  'validation-success':'validation-error'">
      <div fxFlex="12px" fxLayoutAlign="center center">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 8 7"
          *ngIf="requirments.at_least_x_chars; else minimumChar">
          <path fill="#2E954E" fill-rule="evenodd"
            d="M3.621 6.652a.925.925 0 0 1-1.313 0L.272 4.604a.938.938 0 0 1 0-1.321.925.925 0 0 1 1.314 0l1.213 1.22c.091.092.24.092.331 0l3.284-3.304a.925.925 0 0 1 1.314 0 .937.937 0 0 1 0 1.322L3.621 6.65z" />
        </svg>
        <ng-template #minimumChar>
          <svg xmlns="http://www.w3.org/2000/svg" height="7.5" viewBox="0 0 24 24" width="7.5">
            <circle cx="12" cy="12" r="8" />
          </svg>
        </ng-template>
      </div>
      <div fxFlex="auto" fxLayoutAlign="start center">Minimum {{passwordRule.at_least_x_chars}} characters</div>
    </div>
    <!-- <div fxLayout="row" fxLayoutGap="6px" *ngIf="passwordRule.at_max_x_chars"
      class="p-4" [ngClass]="requirments.at_max_x_chars ?  'validation-success':'validation-error'">
      <div fxFlex="12px" fxLayoutAlign="center center">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 8 7"
          *ngIf="requirments.at_max_x_chars; else minimumChar">
          <path fill="#2E954E" fill-rule="evenodd"
            d="M3.621 6.652a.925.925 0 0 1-1.313 0L.272 4.604a.938.938 0 0 1 0-1.321.925.925 0 0 1 1.314 0l1.213 1.22c.091.092.24.092.331 0l3.284-3.304a.925.925 0 0 1 1.314 0 .937.937 0 0 1 0 1.322L3.621 6.65z" />
        </svg>
        <ng-template #minimumChar>
          <svg xmlns="http://www.w3.org/2000/svg" height="7.5" viewBox="0 0 24 24" width="7.5">
            <circle cx="12" cy="12" r="8" />
          </svg>
        </ng-template>
      </div>
      <div fxFlex="auto" fxLayoutAlign="start center">
        Maximum {{passwordRule.at_max_x_chars}} characters
      </div>
    </div> -->
    <div fxLayout="row" fxLayoutGap="6px" *ngIf="passwordRule.at_least_one_digit_char" class="p-4"
      [ngClass]="requirments.at_least_one_digit_char ?  'validation-success':'validation-error'">
      <div fxFlex="12px" fxLayoutAlign="center center">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 8 7"
          *ngIf="requirments.at_least_one_digit_char; else minimumChar">
          <path fill="#2E954E" fill-rule="evenodd"
            d="M3.621 6.652a.925.925 0 0 1-1.313 0L.272 4.604a.938.938 0 0 1 0-1.321.925.925 0 0 1 1.314 0l1.213 1.22c.091.092.24.092.331 0l3.284-3.304a.925.925 0 0 1 1.314 0 .937.937 0 0 1 0 1.322L3.621 6.65z" />
        </svg>
        <ng-template #minimumChar>
          <svg xmlns="http://www.w3.org/2000/svg" height="7.5" viewBox="0 0 24 24" width="7.5">
            <circle cx="12" cy="12" r="8" />
          </svg>
        </ng-template>
      </div>
      <div fxFlex="auto" fxLayoutAlign="start center">
        Alteast 1 number (0-9)
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="6px" *ngIf="passwordRule.at_least_one_special_char" class="p-4"
      [ngClass]="requirments.at_least_one_special_char ?  'validation-success':'validation-error'">
      <div fxFlex="12px" fxLayoutAlign="center center">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 8 7"
          *ngIf="requirments.at_least_one_special_char; else minimumChar">
          <path fill="#2E954E" fill-rule="evenodd"
            d="M3.621 6.652a.925.925 0 0 1-1.313 0L.272 4.604a.938.938 0 0 1 0-1.321.925.925 0 0 1 1.314 0l1.213 1.22c.091.092.24.092.331 0l3.284-3.304a.925.925 0 0 1 1.314 0 .937.937 0 0 1 0 1.322L3.621 6.65z" />
        </svg>
        <ng-template #minimumChar>
          <svg xmlns="http://www.w3.org/2000/svg" height="7.5" viewBox="0 0 24 24" width="7.5">
            <circle cx="12" cy="12" r="8" />
          </svg>
        </ng-template>
      </div>
      <div fxFlex="auto" fxLayoutAlign="start center">
        Alteast 1 non-alphanumeric symbol (eg. !@#$%^&*)
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="6px" *ngIf="passwordRule.at_least_one_lower_case_char" class="p-4"
      [ngClass]="requirments.at_least_one_lower_case_char ?  'validation-success':'validation-error'">
      <div fxFlex="12px" fxLayoutAlign="center center">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 8 7"
          *ngIf="requirments.at_least_one_lower_case_char; else minimumChar">
          <path fill="#2E954E" fill-rule="evenodd"
            d="M3.621 6.652a.925.925 0 0 1-1.313 0L.272 4.604a.938.938 0 0 1 0-1.321.925.925 0 0 1 1.314 0l1.213 1.22c.091.092.24.092.331 0l3.284-3.304a.925.925 0 0 1 1.314 0 .937.937 0 0 1 0 1.322L3.621 6.65z" />
        </svg>
        <ng-template #minimumChar>
          <svg xmlns="http://www.w3.org/2000/svg" height="7.5" viewBox="0 0 24 24" width="7.5">
            <circle cx="12" cy="12" r="8" />
          </svg>
        </ng-template>
      </div>
      <div fxFlex="auto" fxLayoutAlign="start center">
        Alteast 1 lower case character
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="6px" *ngIf="passwordRule.at_least_one_upper_case_char" class="p-4"
      [ngClass]="requirments.at_least_one_upper_case_char ?  'validation-success':'validation-error'">
      <div fxFlex="12px" fxLayoutAlign="center center">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="9" viewBox="0 0 8 7"
          *ngIf="requirments.at_least_one_upper_case_char; else minimumChar">
          <path fill="#2E954E" fill-rule="evenodd"
            d="M3.621 6.652a.925.925 0 0 1-1.313 0L.272 4.604a.938.938 0 0 1 0-1.321.925.925 0 0 1 1.314 0l1.213 1.22c.091.092.24.092.331 0l3.284-3.304a.925.925 0 0 1 1.314 0 .937.937 0 0 1 0 1.322L3.621 6.65z" />
        </svg>
        <ng-template #minimumChar>
          <svg xmlns="http://www.w3.org/2000/svg" height="7.5" viewBox="0 0 24 24" width="7.5">
            <circle cx="12" cy="12" r="8" />
          </svg>
        </ng-template>
      </div>
      <div fxFlex="auto" fxLayoutAlign="start center">
        Alteast 1 upper case character
      </div>
    </div>
  </div>
</ng-container>